<div class="articles">
  <article class="article" id="about">
    <div class="container">
      <div class="article__head">
        <h5 class="article__title">
          We Are Cannabinerds
        </h5><!-- /.article__title -->
      </div><!-- /.article__head -->

      <div class="article__body">
        <h2 class="article__subtitle">
          Bringing you the latest look into the scientific, medical, and sociopolitical world of Medical Cannabis.
        </h2><!-- /.article__subtitle -->
      </div><!-- /.article__body -->

      <div class="article__actions">
        <a href="blog" class="btn-link">
          read More
          <i>
            <img src="{{site.baseurl}}assets/arrow-grey.png" alt="" width="16" height="10">
          </i>
        </a>
      </div><!-- /.article__actions -->
    </div><!-- /.container -->
  </article><!-- /.article -->
  <div class="articles__body">

    {% for post in site.posts limit:3 %}
    <article class="article-large">
      <div class="container">
        <div class="article__image">
          <img src="{{ post.image }}" class="img-responsive" alt="{{ post.title }}" width="{{post.image-width}}" height="{{post.image-height}}">
        </div><!-- /.article__image -->

        <div class="article__content">
          <div class="article__shell">
            <p class="article__date">
              {{post.date-short}} Podcast
            </p><!-- /.article__date -->
          </div><!-- /.article__shell -->

          <h3 class="article__title">
            {{post.title}}
          </h3><!-- /.article__title -->

          <div class="article__shell">
            <p class="article__entry">
              {{post.resume}}
            </p><!-- /.article__entry -->

            <div class="article__actions">
              <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn--dark">
                <i>
                  <img src="{{site.baseurl}}assets/arrow-white-large.png" alt="" width="16" height="10">
                </i>
                Listen Now
              </a>
            </div><!-- /.article__actions -->
          </div><!-- /.article__shell -->
        </div><!-- /.article__content -->
      </div><!-- /.container -->
    </article><!-- /.article-large -->
    {% endfor %}
  </div><!-- /.articles__body -->

  <div class="articles__actions">
    <div class="container">
      <a href="blog" class="btn-link">
        Load More Projects
      </a>
    </div><!-- /.container -->
  </div><!-- /.articles__actions -->
</div><!-- /.articles -->