<section class="section-contacts" id="contact">
  <div class="section__head" style="background-image: url({{site.baseurl}}assets/contact-placehodler.png"})">
      <h1 class="section__title">
        Contact Us
      </h1><!-- /.section__title -->
  </div><!-- /.section__head -->
  <div class="container">
    <div class="section__body">
      <div class="section__aside">
        <div class="contacts">
          <div class="contacts__head">
            <h2 class="contacts__title">
              Information
            </h2><!-- /.contacts__title -->
          </div><!-- /.contacts__head -->

          <div class="contacts__body">
            <p class="contacts__entry">
              Questions about things that you heard? Want to know more about getting an Illinois Medical Cannabis Card? Send us a message and we’d be happy to get back to you.
            </p>
          </div><!-- /.contacts__body -->

          <div class="contacts__foot">
            <div class="contacts__item">
              <h6 class="contacts__item-title">
                Address:
              </h6><!-- /.contacts__item-title -->

              <p class="contacts__item-entry">
                5001 N Clark St <br>
                Chicago, IL, 60640
              </p><!-- /.contacts__item-entry -->
            </div><!-- /.contacts__item -->

            <div class="row">
              <div class="col col-6">
                <div class="contacts__item">
                  <h6 class="contacts__item-title">
                    Email:
                  </h6><!-- /.contacts__item-title -->

                  <p class="contacts__item-entry">
                    <a href="mailto:info@cannabinerd.com">info@cannabinerd.com</a>
                  </p><!-- /.contacts__item-entry -->
                </div><!-- /.contacts__item -->
              </div><!-- /.col col-6 -->

              <div class="col col-6">
                <div class="contacts__item">
                  <h6 class="contacts__item-title">
                    Phone:
                  </h6><!-- /.contacts__item-title -->

                  <p class="contacts__item-entry">
                    <a href="tel:3126203333">312 620 3333</a>
                  </p><!-- /.contacts__item-entry -->
                </div><!-- /.contacts__item -->
              </div><!-- /.col col-6 -->
            </div><!-- /.cols -->
          </div><!-- /.contacts__foot -->
        </div><!-- /.contacts -->
      </div><!-- /.section__aside -->

      <div class="section__content">
        <div class="form">
          <form action="https://formspree.io/bryan@zis.es" method="post">
            <div class="form__head">
              <h6 class="form__title">
                Drop Us A Line
              </h6><!-- /.form__title -->
            </div><!-- /.form__head -->

            <div class="form__body">
              <div class="form__row">
                <div class="form__col">
                  <div class="form__controls">
                    <input type="text" class="field" name="name" id="name" value="" placeholder="Your Name">
                  </div><!-- /.form__controls -->
                </div><!-- /.form__col -->

                <div class="form__col">
                  <div class="form__controls">
                    <input type="text" class="field" name="phone" id="phone" value="" placeholder="Your phone">
                  </div><!-- /.form__controls -->
                </div><!-- /.form__col -->
              </div><!-- /.form__row -->

              <div class="form__row">
                <div class="form__col">
                  <div class="form__controls">
                    <input type="text" class="field" name="_replyto" id="email" value="" placeholder="Your email">
                  </div><!-- /.form__controls -->
                </div><!-- /.form__col -->

                <div class="form__col">
                  <div class="form__controls">
                    <input type="text" class="field" name="website" id="website" value="" placeholder="Your website">
                  </div><!-- /.form__controls -->
                </div><!-- /.form__col -->
              </div><!-- /.form__row -->

              <div class="form__controls">
                <label for="field-1#" class="form__label">Your Message</label>

                <textarea class="textarea" name="message" id="message"></textarea>
              </div><!-- /.form__controls -->
            </div><!-- /.form__body -->

            <div class="form__actions">
              <button type="submit" class="btn btn--dark btn--block">
                <i>
                  <img src="{{site.baseurl}}assets/arrow-white-large.png"}}" alt="" width="16" height="10">
                </i>

                Send Your Message
              </button>
            </div><!-- /.form__actions -->
          </form>
        </div><!-- /.form -->
      </div><!-- /.section__content -->
    </div><!-- /.section__body -->
  </div><!-- /.container -->
</section><!-- /.section-contacts -->