<footer class="footer">
  <div class="container">
    <div class="footer__subscribe" style="background-image: url({{site.baseurl}}assets/borders.png">
      <div class="footer__subscribe-head">
        <h6 class="footer__subscribe-title">
          Stay Connected With Us!
        </h6><!-- /.footer__subscribe-title -->

        <ul>
          <li>
            <a href="#" class="btn btn--dark btn--small">
              Instagram
            </a>
          </li>

          <li>
            <a href="#" class="btn btn--dark btn--small">
              Twitter
            </a>
          </li>

          <li>
            <a href="#" class="btn btn--dark btn--small">
              Facebook
            </a>
          </li>
        </ul>
      </div><!-- /.footer__subscribe-head -->

      <div class="footer__subscribe-body">
        <div class="subscribe">
          <form action="?" method="post">
            <input type="email" id="mail" name="mail" value="" placeholder="Subscribe In Our Newsletter" class="subscribe__field">

            <button type="submit" class="subscribe__btn">Sign Up</button>
          </form>
        </div><!-- /.subscribe -->
      </div><!-- /.footer__subscribe-body -->
    </div><!-- /.footer__subscribe -->

    <div class="footer__body">
      <div class="footer__col">
        <a href="mailto:info@cannabinerdpodcast.com" class="footer__link">
          Email Us : info@cannabinerdpodcast.com
        </a>
      </div><!-- /.footer__col -->

      <div class="footer__col">
        <a href="#" class="footer__logo">
          <img src="{{site.baseurl}}assets/logo-light.png" | relative_url "}}" height="65" width="221" alt="">
        </a>
      </div><!-- /.footer__col -->

      <div class="footer__col">
        <div class="copyright">
          &copy; 2018 Chicago Cannabis Alliance All Rights Reserved
        </div><!-- /.copyright -->
      </div><!-- /.footer__col -->
    </div><!-- /.footer__body -->
  </div><!-- /.container -->
</footer>

<!-- JS files -->
<script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="{{site.baseurl}}assets/main.js" | relative_url }}"></script>

<!-- <script src="{{site.baseurl}}assets/vendor/jquery.js" | relative_url }}"></script>
<script src="{{site.baseurl}}assets/vendor/slick-1.8.1/slick/slick.min.js" | relative_url }}"></script>
 -->
{% if site.google_analytics %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}
