{% if paginator.posts %}
    <div class="articles">
      <div class="articles__body">
    {% for post in paginator.posts %}
        <article class="article-large">
          <div class="container">
            <div class="article__image">
              <img src="{{site.baseurl}}{{ post.image }}" class="img-responsive" alt="{{ post.title }}" width="{{post.image-width}}" height="{{post.image-height}}">
            </div><!-- /.article__image -->

            <div class="article__content">
              <div class="article__shell">
                <p class="article__date">
                  {{post.date-short}} Podcast
                </p><!-- /.article__date -->
              </div><!-- /.article__shell -->

              <h3 class="article__title">
                {{post.title}}
              </h3><!-- /.article__title -->

              <div class="article__shell">
                <p class="article__entry">
                  {{post.resume}}
                </p><!-- /.article__entry -->

                <div class="article__actions">
                  <a href="{{site.baseurl}}.{{ post.url }}" class="btn btn--dark">
                    <i>
                      <img src="{{site.baseurl}}assets/arrow-white-large.png" alt="" width="16" height="10">
                    </i>
                    Listen Now
                  </a>
                </div><!-- /.article__actions -->
              </div><!-- /.article__shell -->
            </div><!-- /.article__content -->
          </div><!-- /.container -->
        </article><!-- /.article-large -->
    {% endfor %}
  {% include post-pagination.html %}
    </div>
  </div>
{% endif %}
