<div class="section__foot">
  <div class="form">
    <form action="https://formspree.io/bryan@zis.es" method="post">
      <div class="form__head">
        <h6 class="form__title">
          ask a question / comment
        </h6><!-- /.form__title -->
      </div><!-- /.form__head -->

      <div class="form__body">
        <div class="form__row">
          <div class="form__col">
            <div class="form__controls">
              <input type="text" class="field" name="name" id="name2" value="" placeholder="Your Name">
            </div><!-- /.form__controls -->
          </div><!-- /.form__col -->

          <div class="form__col">
            <div class="form__controls">
              <input type="text" class="field" name="phone" id="phone2" value="" placeholder="Your phone">
            </div><!-- /.form__controls -->
          </div><!-- /.form__col -->
        </div><!-- /.form__row -->

        <div class="form__row">
          <div class="form__col">
            <div class="form__controls">
              <input type="text" class="field" name="_replyto" id="email2" value="" placeholder="Your email">
            </div><!-- /.form__controls -->
          </div><!-- /.form__col -->

          <div class="form__col">
            <div class="form__controls">
              <input type="text" class="field" name="website2" id="website2" value="" placeholder="Your website">
            </div><!-- /.form__controls -->
          </div><!-- /.form__col -->
        </div><!-- /.form__row -->

        <div class="form__controls">
          <label for="message2" class="form__label">Your Question / Comment</label>

          <textarea class="textarea" name="message2" id="message2"></textarea>
        </div><!-- /.form__controls -->
      </div><!-- /.form__body -->

      <div class="form__actions">
        <button type="submit" class="btn btn--dark btn--block">
          <i>
                      <img src="{{site.baseurl}}assets/arrow-white-large.png" alt="" width="16" height="10">
                    </i>

                    Send Your Message
        </button>
      </div><!-- /.form__actions -->
    </form>
  </div>
</div><!-- /.section__foot -->