<div class="slider">
  <div class="container">
    <div class="slider__clip">
      <div class="slider__slides">
        <div class="intro">
          <div class="intro__image">
      		<img src="{{site.baseurl}}assets/intro.png" alt="" width="1400" height="673">
          </div><!-- /.intro__image -->

          <div class="intro__content" style="background-image: url({{site.baseurl}}assets/mask.png)">
            <div class="intro__body">
              <h1 class="intro__title">
                The Cannabis Report
              </h1><!-- /.intro__title -->

              <p class="intro__entry">
                A scientific, medical, and sociopolitical look into the world of Medical Cannabis.
              </p><!-- /.intro__entry -->

              <div class="intro__actions">
                <a href="#" class="btn">
                  <i>
                    <img src="{{site.baseurl}}assets/arrow.png" alt="" width="16" height="10">
                  </i>

                  Listen Now
                </a>
              </div><!-- /.intro__actions -->
            </div><!-- /.intro__body -->
          </div><!-- /.intro__content -->
        </div><!-- /.intro -->

        <div class="intro">
          <div class="intro__image">
      		<img src="{{site.baseurl}}assets/intro.png" alt="" width="1400" height="673">
          </div><!-- /.intro__image -->

          <div class="intro__content" style="background-image: url({{site.baseurl}}assets/mask.png)">
            <div class="intro__body">
              <h1 class="intro__title">
                The Cannabis Report
              </h1><!-- /.intro__title -->

              <p class="intro__entry">
                A scientific, medical, and sociopolitical look into the world of Medical Cannabis.
              </p><!-- /.intro__entry -->

              <div class="intro__actions">
                <a href="#" class="btn">
                  <i>
                    <img src="{{site.baseurl}}assets/arrow.png" alt="" width="16" height="10">
                  </i>

                  Listen Now
                </a>
              </div><!-- /.intro__actions -->
            </div><!-- /.intro__body -->
          </div><!-- /.intro__content -->
        </div><!-- /.intro -->
      </div><!-- /.slider__slides -->
    </div><!-- /.slider__clip -->
  </div><!-- /.container -->
</div><!-- /.slider -->
