<div class="section__socials">
  <p class="section__socials-title">
    Share This Post
  </p><!-- /.socials__title -->

  <div class="socials">
    <ul>
      <li>
        <a href="#">
          <img src="{{site.baseurl}}assets/ico-facebook.png" width="9" height="15" alt="">
        </a>
      </li>

      <li>
        <a href="#">
          <img src="{{site.baseurl}}assets/ico-tweeter.png" width="13" height="12" alt="">
        </a>
      </li>

      <li>
        <a href="#">
          <img src="{{site.baseurl}}assets/ico-google.png" width="14" height="15" alt="">
        </a>
      </li>

      <li>
        <a href="#">
          <img src="{{site.baseurl}}assets/ico-pinterest.png" width="14" height="14" alt="">
        </a>
      </li>

    </ul>
  </div><!-- /.socials -->
</div><!-- /.section__socials -->