<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

  {% include head.html %}

  <body class="site">

    {% include header-blog.html %}

    <main class="site__content" aria-label="Content">

    	{% include breadcrumb.html %}
		<div class="main">
			<div class="container container--small">
      			<article class="article" id="about">
				    <div class="container">
				      <div class="article__head">
				        <h5 class="article__title">
				          We Are Cannabinerds
				        </h5><!-- /.article__title -->
				      </div><!-- /.article__head -->

				      <div class="article__body">
				        <h2 class="article__subtitle">
				          Bringing you the latest look into the scientific, medical, and sociopolitical world of Medical Cannabis.
				        </h2><!-- /.article__subtitle -->
				      </div><!-- /.article__body -->
				      		{{ content }}
				    </div><!-- /.container -->
				  </article><!-- /.article -->
   			</div>
      	</div>
    </main>

    {% include footer.html %}

  </body>

</html>