<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

  {% include head.html %}

  <body class="site">

    {% include header-blog.html %}

    <main class="site__content" aria-label="Content">
		<div class="slider">
			<div class="container">
				<div class="intro">
					<div class="intro__image intro__image--small">
						<img src="{{site.baseurl}}{{ page.header-image}}" alt="" width="1400" height="381">
					</div><!-- /.intro__image -->

					<div class="intro__content intro__content--small" style="background-image: url({{site.baseurl}}assets/mask.png" | relative_url "}})">
						<div class="intro__body">
						  	<h1 class="intro__title intro__title--small">
						    {{page.title}}
						  	</h1><!-- /.intro__title -->
						</div><!-- /.intro__body -->
					</div><!-- /.intro__content -->
					</div><!-- /.intro -->
				</div><!-- /.container -->
			</div><!-- /.slider -->
		<div class="main">
		  <section class="section-podcast">
		    <div class="container container--small">
		      <div class="section__head">
		        <p class="section__date" style="padding-top: 40px;">
		          	<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
					{% assign date_format = site.date_format | default: "%b %-d, %Y" %}
					{{ page.date | date: date_format }}
					</time>
		        </p><!-- /.section__date -->
		      </div><!-- /.section__head -->

		      <div class="section__body">
		        <h3 class="section__title">

		          {{page.title}}

		        </h3><!-- /.section__title -->

		        <p class="section__author">
		          By: <a href="#">{{page.author}}</a>
		        </p><!-- /.section__author -->
		        <audio controls>
					<source src="{{site.baseurl}}{{ page.file }}" type="audio/mpeg">
				</audio>
				<div class="podcast-details">
					<p class="post-meta">
						{% assign bytes = page.length | divided_by: 1024 | divided_by: 1024 | round: 2 %}
						<a href="{{site.baseurl}}{{ page.file }}">Download</a> • {{bytes}}MB • {{page.duration}}
					</p>
				</div>
		        <div class="section__entry">
		          {{ page.content }}
		        </div><!-- /.section__entry -->
		        

		        {% include social-share.html %}
		      </div><!-- /.section__body -->

		      {% include post-comment.html %}
		    </div><!-- /.container -->
		  </section><!-- /.section-podcast -->

		 <div class="bar-nav">
		  	<div class="container">
		    	<a href="{{site.baseurl}}blog" class="btn-back">
		    		<span></span>
		    		All Posts
		    	</a>
		  </div><!-- /.container -->
		</div><!-- /.main -->

    </main>

    {% include footer.html %}

  </body>

</html>
