/* ------------------------------------------------------------ *\
  Article
\* ------------------------------------------------------------ */

.article {
  padding: 92px 0;
  max-width: 1185px;
  margin: 0 auto;

  .article__title {
    color: black;
    font-weight: 700;
  }

  .article__head {
    margin-bottom: 18px;
  }

  .article__body {
    max-width: 780px;
    margin-bottom: 34px;
  }

  .list__post {
    .item {
      padding: 0 20px;
      list-style-type: none;

      .item__post {
        padding: 20px 0;

        .post__title {
          color: black;
          font-family: $font-family-droid;
          font-weight: 700;
        }

        .post__meta {
          color: grey;
        }
      }
    }    
  }
  .nav {
    margin-bottom: -150px;
    padding-top: 100px;
    text-align: center;

    .pagination {
      padding: 0 20px;
    }
  }
}

@media (max-width: 767px) {
  .article {
    padding: 50px 0;
  }
}


/* ------------------------------------------------------------ *\
  Article Large
\* ------------------------------------------------------------ */

.article-large {
  padding: 36px 0;

  & + .article-large {
    margin-top: 160px;
  }

  .container {
    position: relative;
    max-width: 1180px;
    text-align: right;
  }

  .article__image {
    position: absolute;
    top: -90px;
    right: 100px;

    img {
      width: 400px;
      height: 460px;
    }

  }

  .article__content {
    position: relative;
    width: 47%;
    text-align: right;
  }

  .article__shell {
    display: inline-block;
    width: 265px;
  }

  .article__date {
    margin-bottom: 12px;
    font-size: 11px;
    font-family: $font-family-droid;
    color: $grey-350;
    font-weight: 700;
    font-style: italic;
  }

  .article__entry {
    font-size: 14px;
    font-family: $font-family-droid;
    color: $grey-350;
    font-weight: 700;
    font-style: italic;
  }

  .article__actions {
    padding-top: 28px;
  }
}

.article-large:nth-child(2n) {
  .article__image {
    top: -55px;
    right: auto;
    left: 100px;
  }

  .article__content {
    width: 47%;
    padding-top: 20px;
    margin-left: 53%;
    text-align: left;
  }

  .article__title {
    text-align: left;
  }
}

@media (max-width: 1199px) {
  .article-large {
    & + .article-large {
      margin-top: 80px;
    }

    .article__image {
      max-width: 350px;
      top: -50px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .article__content {
      max-width: 50%;
    }
  }

  .article-large:nth-child(2n) {
    .article__image {
      max-width: 350px;
      top: -50px;

      img {
        width: 100%;
        height: auto;
      }
    }
    .article__content {
      width: 47%;
      padding-top: 0;
      margin-left: 53%;
    }
  }
}

@media (max-width: 1000px) {
  .article-large {
    & + .article-large {
      margin-top: 80px;
    }

    .article__image {
      max-width: 250px;
      top: -20px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .article__content {
      max-width: 50%;
    }
  }

  .article-large:nth-child(2n) {
    .article__image {
      max-width: 250px;
      top: -20px;

      img {
        width: 100%;
        height: auto;
      }
    }
    .article__content {
      width: 47%;
      padding-top: 0;
      margin-left: 53%;
    }
  }
}

@media(max-width: 767px) {
  .article-large {
    & + .article-large {
      margin-top: 20px;
    }

    .article__image {
      position: static;
      max-width: 100%;
      width: 100%;
      padding: 0 20%;
    }

    .article__content {
      padding-top: 10px;
      max-width: 100%;
      width: 100% !important;
      margin-left: 0 !important;
      text-align: center;
    }

    .article__title {
      text-align: center;
    }

    .article__actions {
      padding-top: 10px;
    }

    .article__shell {
      width: 100%;
    }
  }
  .article-large:nth-child(2n) {
    .article__image {
      position: static;
      max-width: 100%;
      width: 100%;
      padding: 0 20%;
      
    }

    .article__title {
      text-align: center;
    }

    .article__content {
      text-align: center !important;
    }
  }
}


/* ------------------------------------------------------------ *\
  Articles
\* ------------------------------------------------------------ */

.articles {
  margin-bottom: 75px;

  .articles__body {
    margin-bottom: 200px;
  }

  .articles__actions {
    text-align: center;
  }
}
@media (max-width: 1199px) {
  .articles {
    .articles__body {
      margin-bottom: 100px;
    }
  }
}

@media (max-width: 767px) {
  .articles {
    .articles__body {
      margin-bottom: 0;
    }

    .articles__actions {
      padding: 20px 0 0;
    }
  }
}
