/* ------------------------------------------------------------ *\
  Base
\* ------------------------------------------------------------ */

::selection {
  background-color: $yellow !important;
  color: $black;
}

h1 {
  font-size: 65px;
  line-height: .77;
  font-weight: 700;
  font-style: italic;
}

h2 {
  font-size: 40px;
  line-height: 1.32;
  font-weight: 700;
  font-style: italic;
}

h3 {
  font-size: 30px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.04em;
}

h5 {
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
}

@media(max-width: 1199px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 26px;
  }
}

@media(max-width: 767px) {
  h1 {
    font-size: 32px;
    line-height: 1.1;
  }

  h2 {
    font-size: 27px;
  }

  h3 {
    font-size: 23px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }
}
