/* ------------------------------------------------------------ *\
  Footer
\* ------------------------------------------------------------ */

.footer {
  position: relative;
  margin-top: 200px;
  background-color: $grey-100;
  color: $grey-350;
  font-family: $font-family-droid;
  font-size: 13px;

  .container {
    max-width: 1180px;
  }

  a {
    color: inherit;
  }

  .footer__body {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 340px;
    padding: 95px 0 65px;
  }

  .footer__col {
    width: 230px;

    &:nth-child(2) {
      text-align: center;
      align-self: center;
    }

    &:last-child {
      text-align: right;
    }
  }

  .footer__subscribe {
    position: absolute;
    top: -126px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 562px;
    width: 100%;
    padding: 34px;
    background-size: 100% 100%;

    .footer__subscribe-title {
      margin-bottom: 17px;
      font-style: italic;
      font-weight: 700;
      text-align: center;
    }

    .footer__subscribe-head {
      margin-bottom: 58px;

      ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding: 0;
      }

      li + li {
        position: relative;
        margin-left: 23px;

        &:before {
          content: '';
          position: absolute;
          left: -13px;
          top: 14px;
          display: block;
          height: 3px;
          width: 3px;
          background-color: $grey-100;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .footer {
    margin-top: 250px;

    .footer__body {
      display: block;
      padding: 200px 0 20px;
      height: auto;
    }

    .footer__col {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;

      &:nth-child(2) {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        top: 90px;
      }

      &:last-child {
        text-align: center;
      }
    }

    .footer__subscribe {
      top: -230px;
      left: 15px;
      right: 15px;
      width: calc(100% - 30px);
      max-width: 100%;
      padding: 15px;
      background-image: none !important;
      transform: translateX(0);

      ul {
        flex-direction: column;
        align-items: center;

        a {
          width: 200px;
        }
      }

      .footer__subscribe-head li + li {
        margin: 10px 0 0 0;

        &:before {
          display: none;
        }
      }
    }
  }
}

