/* ------------------------------------------------------------ *\
  Header
\* ------------------------------------------------------------ */

.header {
  padding: 15px 10px 10px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__inner {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
  }
}

@media(min-width: 1400px){
  .header {
    .container {
      width: 1380px;
    }
  }
}

@media(max-width: 767px){
  .header {
    position: relative;
    padding: 10px 0;

    .header__inner {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 20;
      display: block;
      background-color: $white;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-100%);
      transition: transform .5s, opacity .5s, visibility .5s;

      &.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
