/* ------------------------------------------------------------ *\
  Helpers
\* ------------------------------------------------------------ */

@media(max-width: 991px){
  .col-6 { max-width: 100%; width: 100%; flex: 0 0 100%; }
  .col-6--sm { max-width: 50%; width: 50%; flex: 0 0 50%; }
}

@media(max-width: 767px){
  .col-6--sm { max-width: 100%; width: 100%; flex: 0 0 100%; }
  .col-6--sm + .col-6--sm { margin-top: 15px; }
}
