/* ------------------------------------------------------------ *\
  Intro
\* ------------------------------------------------------------ */

.intro {
  position: relative;
  color: $white;

  .intro__image {
    img {
      width: 100%;
      height: auto;
    }
  }

  .intro__content {
    position: absolute;
    top: 50%;
    left: 107px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-50%);
    padding-left: 107px;
    max-width: calc(100% - 214px);
    height: 446px;
    background-size: auto 446px;
    background-repeat: no-repeat;

    &--small {
      left: 46px;
      padding-left: 80px;
      height: 340px;
      background-size: 214px 246px;
      background-position: center left;
    }
  }

  .intro__title {
    margin-bottom: 24px;

    &--small {
      font-size: 55px;
      margin-bottom: 60px;
    }
  }

  .intro__entry {
    max-width: 380px;
    margin-bottom: 50px;
    font-family: $font-family-lora;
    font-size: 17px;
  }
}

@media(max-width: 1199px) {
  .intro {
    .intro__content {
      left: 60px;
      height: 320px;
      padding-left: 75px;
      background-size: auto 320px;
      max-width: calc(100% - 100px);

      &--small {
        background-size: auto 220px;
      }
    }
    .intro__entry {
      margin-bottom: 25px;
    }
  }
}

@media(max-width: 991px) {
  .intro {
    .intro__content {
      &--small {
        left: 20px;
        padding-left: 40px;
        background-size: auto 150px;
      }
    }

    .intro__title {
      &--small {
        font-size: 40px;
        margin-bottom: 40px;
      }
    }
  }
}

@media(max-width: 767px) {
  .intro {
    .intro__content {
      background-image: none!important;
      max-width: 100%;
      left: 0;
      padding: 0 10px;

      &--small {
        width: 100%;
        text-align: center;
      }
    }

    .intro__image {
      position: relative;
      height: 320px;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: auto;
        min-width: 100%;
      }

      &--small {
        height: 240px;
      }
    }

    .intro__title {
      &--small {
        font-size: 32px;
        margin-bottom: 0;
      }
    }

    .intro__entry {
      font-size: 15px;
    }
  }
}
