/* ------------------------------------------------------------ *\
  Logo
\* ------------------------------------------------------------ */

@media(max-width: 767px){
  .logo {
    position: relative;
    z-index: 25;

    img {
      max-width: 132px;
      height: auto;
    }
  }
}
