/* ------------------------------------------------------------ *\
  Nav
\* ------------------------------------------------------------ */

.nav {
  padding-top: 4px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: $grey-200;

  ul {
    display: flex;
    list-style-type: none;
    margin-bottom: 0;

    li + li { margin-left: 33px; }
  }

  a {
    position: relative;

    &:hover {
      text-decoration: none;
    }

    &:after, &:before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      display: block;
      width: 15px;
      height: 2px;
      background-color: $yellow;
      opacity: 0;
      transform: translateY(10px);
      transition: opacity .3s, transform .3s;
    }

    &:before {
      width: 2px;
      height: 4px;
      bottom: -4px;
    }

    &:hover {
      &:after, &:before {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .current {
    a {
      &:after, &:before {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

@media(max-width: 767px) {
  .nav {
    ul {
      display: block;
      padding: 0;

      li + li {
        margin-left: 0;
        border-top: 1px solid $grey-900;
      }

      a {
        display: block;
        padding: 5px 10px;

        &:after, &:before {
          display: none;
        }
      }
    }
  }
}
