/* ------------------------------------------------------------ *\
  Slider
\* ------------------------------------------------------------ */

@media (max-width: 1199px) {
  .slider {
    .container {
      max-width: 100%;
      width: auto;
      padding: 0;
    }
  }
}
