/* ------------------------------------------------------------ *\
  Socials
\* ------------------------------------------------------------ */

.socials {
  ul {
    display: flex;
    margin: 0;
    list-style-type: none;
  }

  li + li {
    margin-left: 12px;
  }

  a {
    transition: opacity .3s;

    &:hover {
      opacity: .6;
    }
  }
}

@media(max-width: 767px) {
  .socials {
    ul {
      padding: 20px 0 0 10px;
    }
  }
}
